body {
    color: #F9FAF8;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 16px;
    padding: 0px 150px;
    background-color: #1F2937;
}

.top-header {
    height: 72px;
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.top-header-left h1 {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: 16px;
}

#header-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.bottom-header {
    height: 300px;
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
}

.bottom-header-left {
    width: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 10px 0px;
    gap: 10px;
}

.bottom-header-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

#timeline {
    width: 500px;
    height: auto;
}

.bottom-header-left p {
    margin: 0;
}

.bottom-header-left button {
    width: 100px;
    height: auto;
    padding: 3px;
    border-radius: 5px;
    background-color: #3882F6;
    border-style: none;
    color: #F9FAF8;
}

.content {
    height: 300px;
    padding: 0px 150px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.content h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}