body {
    background-color: #1F2937;
    display: flex;
    flex-flow: column;
}

.header {
    display: flex;
    flex-flow: column;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}